@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@400;500;600&display=swap");

:root {
  /* ### Primary */

  --Moderate-violet: hsl(263, 55%, 52%);
  --Very-dark-grayish-blue: hsl(217, 19%, 35%);
  --Very-dark-blackish-blue: hsl(219, 29%, 14%);
  --White: hsl(0, 0%, 100%);
  --paragraph-color: rgba(25, 33, 46, 0.7);

  /* ### Neutral */

  --Light-gray: hsl(0, 0%, 81%);
  --Light-grayish-blue: hsl(210, 46%, 95%);
}

/* General Styles */
* {
  box-sizing: border-box;
}

html,
body {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-size: 13px;
  color: var(--Very-dark-blackish-blue);
  background-color: var(--Light-grayish-blue);
}

body {
  min-height: 100vh;
}

img {
  width: 100%;
  object-fit: cover;
}

main {
  height: 100%;
  padding: 1.375rem;
  display: grid;
  place-items: center;
}

.grid-container {
  max-width: 1100px;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 2rem;
}

.testimonial__profile-pic {
  width: 30px;
  height: 30px;
  border: 1px solid white;
  border-radius: 50%;
  overflow: hidden;
}

.testimonial__quote h2 {
  line-height: 1;
  font-size: clamp(1.5rem, 2.5vw, 1.5rem);
}

.testimonial__statement p {
  color: var(--Light-gray);
}

/* Main Styles */

.grid-item {
  padding: 2em;
  border-radius: 1rem;
  box-shadow: 25px 25px 40px 5px rgba(0, 0, 0, 0.15);
}

.grid-item-1 {
  background-color: var(--Moderate-violet);
  color: var(--White);
}
.grid-item-2 {
  background-color: var(--Very-dark-grayish-blue);
  color: var(--White);
}
.grid-item-3 {
  background-color: var(--White);
}
.grid-item-3 p {
  color: var(--paragraph-color);
}
.grid-item-4 {
  background-color: var(--Very-dark-blackish-blue);
  color: var(--White);
}
.grid-item-5 {
  background-color: var(--White);
}
.grid-item-5 p {
  color: var(--paragraph-color);
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (min-width: 768px) {
  .testimonial__profile-name,
  .testimonial__profile-title {
    font-size: clamp(10px, 1.1vw, 16px);
  }

  .testimonial__quote h2 {
    line-height: 1.25;
  }
  .grid-container {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
      "item-1 item-1 item-2 item-5"
      "item-3 item-4 item-4 item-5";
  }

  .grid-item-1 {
    grid-area: item-1;
  }
  .grid-item-2 {
    grid-area: item-2;
  }
  .grid-item-3 {
    grid-area: item-3;
  }
  .grid-item-4 {
    grid-area: item-4;
  }
  .grid-item-5 {
    grid-area: item-5;
  }
}
